TerminalModal {
    align: center middle;
}

#top-pane {
    height: 1fr;
}

#instance-list {
    width: 1fr;
    /* border: solid $primary; */
    margin: 1 1;
    height: 1fr;
}

#instance-detail {
    width: 2fr;
    /* border: solid $primary; */
    margin: 1 1;
    padding: 0 1;
    height: 1fr;
}

#terminal-container {
    width: 80%;
    height: 80%;
}

#shell {
    border: solid $accent;
}
